<script src="nunjucks.js"></script>

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
	<title>Fuck off</title>

	<link href="style.css" rel="stylesheet">
</head>

<body>

<div class="wrapper">

	<header class="header">
		

	</header><!-- .header-->

	<main class="content">
		<form method="POST">
	<H1>Спасибо за регистрацию</H1>
			<form method="POST" action="/ok">
			
			<button  id="button" type="submit" onclick="">Вывести БД</button>

		
		</form>
		</form>

	</main><!-- .content -->



<footer class="footer">
	 
</footer>
</div>
</body>
</html>